/* ========== GLOBAL RESET ========== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #fafafa;
    color: #000;
    padding-bottom: 70px;
}

/* ========== NAVBAR ========== */
.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
}

.insta-logo{
    font-size: 20px;
    font-weight: bold;
}

.nav-icon{
    width: 26px;
    height: 26px;
    cursor: pointer;
}

/* ========== STORIES ========== */
.stories{
    display: flex;
    gap: 14px;
    padding: 12px 14px;
    overflow-x: auto;
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
}

.stories::-webkit-scrollbar{
    display: none;
}

.story{
    min-width: 70px;
    text-align: center;
}

.story img{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 2px solid #e1306c;
    padding: 2px;
    object-fit: cover;
}

.story p{
    font-size: 12px;
    margin-top: 5px;
}

/* ========== FEED ========== */
.feed{
    max-width: 900px;
    margin: auto;
}

/* ========== POST ========== */
.post{
    background: #fff;
    margin-bottom: 50px;
    border-bottom: 2px solid #dbdbdb;
}

/* user profile */
.user-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
}

.user-profile img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.user-profile span{
    font-size: 14px;
    font-weight: 600;
}

/* post image */
.post-img{
    width: 100%;
    height: auto;
    display: block;
}

/* actions */
.post-actions{
    padding: 8px 12px;
    font-size: 20px;
}

/* likes & caption */
.likes{
    padding: 0 12px;
    font-size: 14px;
    font-weight: 600;
}

.caption{
    padding: 6px 12px 12px;
    font-size: 14px;
}

/* ================== bottom navbar ================== */
.navbar-bottom{
    position: sticky;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px 0;
}

.nav-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-icon{
    height: 35px;
    width: 35px;
}


